@font-face 
{
  font-family: LuckiestGuy-Regular;
  src: url(font/LuckiestGuy-Regular.ttf);
}

@font-face 
{
  font-family: BungeeShade-Regular;
  src: url(font/BungeeShade-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: LuckiestGuy-Regular;
}


/*******************    This is login form    ******************/

.login 
{
    background-color: #F2D200;
    width: auto;
    height: 68vh;
    padding: 100px;
/*
    margin-top: 50px;
    margin-bottom: 50px;
*/
    margin: 50px;
    position: center;
    border: 1px solid black;
}

/*
img {
    z-index: -1;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
*/

.login-form {
    border: 1px solid pink;
    height: 100%;
    text-align: center;
    padding: 10px;
    color: black;
    background-color: #4D4D4D;
}

.usr 
{
    top: 50%;
    position: relative;
    padding: 10px;
    left: 2%;
    text-align: center;
}

.pwd 
{
    top: 50%;
    left: 2%;
    position: relative;
    padding: 10px;
    text-align: center;
}

.btn 
{
    top: 60%;
    right: 14%;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

/*******************    This is top bar    ******************/

.top-bar 
{
/*    border: 1px solid blue;*/
    position: relative;
}

.navbar {
/*    border: 1px solid blue;*/
    background-color: grey;
    width: 100%;
    display: flex;
    text-align: center;
}

.logo {
/*    border: 1px solid red;*/
/*    text-align: center;*/
    width: 100%;
}

.notification 
{
/*    border: 1px solid yellow;*/
    position: absolute;
    padding: 10px;
    margin: 5px;
    z-index: 1;
    right:10%;
}

.logout 
{
    padding: 10px;
    margin: 5px;
    z-index: 1;
    position: absolute;
    right: 2%;
    
}

/*******************    This is sidemenu    ******************/

.sidemenu {
    background-color: #F2D200;
    position: fixed;
    height: 100%;
    width: 338px;
    margin: 0;
    padding: 0;
}

.icon 
{
    text-align: center;
    background-color: #F2D200;
    padding: 50px 0;
    width: 338px;
    display: inline-block;
}

.dropbtn 
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    outline: none;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus 
{
    background-color: green;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 338px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.icon a:hover 
{
    background-color: green;
}

.show 
{
    display: block;
}

.menu-list 
{
    width: 338px;
    height: 699px;
    padding: 0;
    margin-top: 0;
    list-style-type: none;
}

.menu-list a 
{
    text-decoration: none;
    background-color: white;
    padding: 30px 8px 30px 16px;
    display: block;
    border: 1px solid #707070;
    text-align: center;
}

.menu-list a:hover 
{
    color: white;
    background-color: purple;
}


/*******************   End of sidemenu    ******************/


/*******************    This is main content    ******************/

.main-wrapper 
{
/*    border: 1px solid green;*/
    height: 94.6%;
    width: 82.2%;
    top: 52px;
    left: 338px;
    overflow: hidden;
    position: absolute;
    background-color: #CECECE;
    display: block;
}

.listing 
{
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 10px;
    position: absolute;
    
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    background-color: #F2D200;
    display: block;
    margin: 30px;
}

.listing li {
    padding: 50px;
    display: inline-block;
    margin: 15%;
    text-align: center;
}

.listing li a 
{
    text-decoration: none;
    border: 1px solid black;
    padding: 20px;
    color: black;
}

.listing li a:hover {
    background-color: purple;
    color: white;
}


/*******************    END OF BIG SCREEN SETTING    ******************/


/*******************    START OF SMALL SCREEN SETTING    ******************/

/* For smaller screen */
/* On screens that are 992px wide or less, the background will change*/
@media screen and (max-width: 992px) 
{
    
    /*******************    This is top bar    ******************/
    .notification 
    {
        border: 1px solid yellow;
        position: absolute;
        padding: 10px;
        margin: 5px;
        z-index: 1;
        right:15%;
        float: right;
    }

    .logout 
    {
        padding: 10px;
        margin: 50px;
        z-index: 1;
        position: absolute;
        right: 2%;
    }

}

/* On screens that are 600px wide or less, the background will change*/

@media screen and (max-width: 600px) 
{
    /*******************    This is top bar    ******************/
    
        .notification 
    {
        border: 1px solid green;
        display: none;
        z-index: 1;
        float: left;
    }

    .logout 
    {
        padding: 10px;
        margin: 5px;
        z-index: 1;
        position: absolute;
        right: 2%;
    }
    
    /*******************    This is sidemenu    ******************/
    
    .sidemenu 
    {
        width: 485px;
        background-color: #F2D200;
        overflow: hidden;
    }

    .menu-list 
    {
        width: 390px;
        height: 670px;
        padding: 0;
        margin-top: 0;
        margin-left: 10%;
        list-style-type: none;
    }

    .menu-list a 
    {
        text-decoration: none;
        background-color: white;
        padding: 30px 8px 30px 16px;
        display: block;
        border: 1px solid #707070;
        text-align: center;

    }

    .menu-list a:hover 
    {
        background-color: purple;
    }

    .icon 
    {
        text-align: center;
        background-color: #F2D200;
        padding: 50px 0;
        width: 485px;
        display: inline-block;
    }

    .dropbtn 
    {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus 
    {
      background-color: green;
    }

    .dropdown-content 
    {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 338px;
        margin-left: 15%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a 
    {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .icon a:hover 
    {
        background-color: green;
    }

    .show 
    {
        display: block;
    }
    
/*******************    This is login form    ******************/
    

    .login 
    {
        background-color: #F2D200;
        width: auto;
        height: 68vh;
        padding: 100px;
        margin: 50px;
        position: center;
        border: 1px solid black;
    }

    .login-form 
    {
        border: 1px solid pink;
        height: 100%;
        width: 1000px;
        text-align: center;
        padding: 10px;
        color: black;
        background-color: #4D4D4D;
    }

    .usr 
    {
        position: relative;
        padding: 5px;
        margin: 2px;
        float: inherit;
        display: block;
    }

    .pwd 
    {
        top: 50%;
        left: 2%;
        position: relative;
        padding: 10px;
        text-align: center;
        display: block;
    }

    .btn 
    {
        top: 60%;
        right: 14%;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
        display: block;
    }
    
    /*******************    This is main content    ******************/

    .main-wrapper 
    {
        display: none;
    }


}
