body {
    margin: 0;
    padding: 0;
}

.container {
/*
    background-color: yellow;
    color: blue;
    height: 957px;
    display: block;
    border: 1px solid green;
*/
}

.login {
    background-color: #F2D200;
    width: auto;
    height: 68vh;
    padding: 100px;
/*
    margin-top: 50px;
    margin-bottom: 50px;
*/
    margin: 50px;
    position: center;
    border: 1px solid black;
}

.login-form {
    border: 1px solid pink;
    height: 100%;
    text-align: center;
    padding: 10px;
    color: black;
    background-color: #4D4D4D;
}

.usr {
    top: 50%;
    position: relative;
    padding: 10px;
    left: 2%;
    text-align: center;
}

.pwd {
    top: 50%;
    left: 2%;
    position: relative;
    padding: 10px;
    text-align: center;
}

.btn {
    top: 60%;
    right: 14%;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.top-bar {
    border: 1px solid blue;
    position: relative;
}

.navbar {
    border: 1px solid blue;
    position: inherit;
    background-color: grey;
    width: 100%;
    display: flex;
    text-align: center;
}

.logo {
    border: 1px solid red;
/*    text-align: center;*/
    width: 100%;
}

.notification {
    border: 1px solid yellow;
    position: static;
    height: 50%;
    padding: 10px;
    margin: 5px;
}
.notify {
    float: center;
}

.logout {
    float: right;
    position: inherit;
    padding: 10px;
    margin: 5px;
}

.side {
    color: black;
}

.menu-list {
    background-color: #F2D200;
    width: 338px;
    height: 976px;
    overflow: hidden;
}